<div class="btn-group btn-group-justified" role="group">
    <a href="{%url 'jizhang:items'%}" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span> 账单</a>
    <a href="{%url 'jizhang:categories'%}" class="btn btn-primary"><span class="glyphicon glyphicon-th-list"></span> 分类</a>
    <a href="" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> 查找</a>
    <a href="" class="btn btn-primary"><span class="glyphicon glyphicon-modal-window"></span> 报告</a>
</div>